<!DOCTYPE html>
<html data-ng-app="todoApp">
<head>
    <title>TO DO List</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="angular.css" rel="stylesheet"/>


    <script src="jjxwebajax_2.7.4.js"></script>
    <script src="URLParser.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.1/smart-table.min.js"></script>


    <script>

        var parser = new URLParser();
        var MYHOST = parser.hostname;
        var MYPORT = parser.port;
        var ajaxobj = new jjxweb(MYHOST, MYPORT);
        var dbname = "nat";
        var usesqlid = true;


        /**
         * FlexMate Session Open
         */
        function openSession() {
            var rcode = -1;
            rcode = ajaxobj.HR_SESSIONOPEN(true);
            if(rcode<0) {
                alert("Failed open session\nError Code : " + ajaxobj.errcode + "\nError Msg : " + ajaxobj.errmsg);
                return;
            }

        }


        function test() {
            var rcode = -1;
            var sql = "SELECT JISOCODE, JISOKNM, JISOENM, JISOKADDR, ZIPCD  FROM JISOCODE ORDER BY JISOCODE ASC";
            var param = new Array();
            var columns = ["JISOCODE", "JISOKNM", "JISOENM", "JISOKADDR", "ZIPCD"];

            rcode = ajaxobj.HR_SELECTINTO(dbname ,sql ,param , false);
            if(rcode<0){
                alert(ajaxobj.errmsg);
                return null;
            }
            var testsh = ajaxobj.results;//array
            testsh = toNamedIndex(testsh, columns);
            console.log(testsh);

            return testsh;
        }




        function toNamedIndex(result, columns){
            for(var i = 0 ; i < result.length -1; i++){
                for(var k=0; k < columns.length  ; k++){
                    result[i][columns[k]] = result[i][k];
                }
            }
            return result;
        }


        var model = {
            user: "Adam",
            items: [{ action: "Buy Flowers", done: false },
                { action: "Get Shoes", done: false },
                { action: "Collect Tickets", done: true },
                { action: "Call Joe", done: false }]
        };

        //angular.modeule(생성할 모듈명, 필요한 추가 모듈 배열)
        var todoApp = angular.module("todoApp", ['smart-table', 'ngRoute']);

        todoApp.filter("checkItems", function() {
            return function(items, showComplete){
                var resultArr = [];
                angular.forEach(items, function(item){
                   if(item.done == false || showComplete == true){
                       resultArr.push(item);
                   }
                });
                return resultArr;
            }
        });

        todoApp.run(function() {
                    openSession();

                }
        );


        todoApp.controller("basicsCtrl", function ($scope) {
            $scope.rowCollection = test();
        });


        todoApp.controller("ToDoCtrl", function ($scope) {
            $scope.todo = model;



            $scope.incompleteCount = function(){
                var count = 0;
                angular.forEach($scope.todo.items, function(item){
                   if(!item.done){count++}
                });
                return count;
            }

            $scope.warningLevel = function(){
                return $scope.incompleteCount() < 3 ? "lbael-success" : "label-warning"
            }

            //모델이 추가되면 바로 뷰로 적용됨
            $scope.addNewItem = function(actionText){
                $scope.todo.items.push({action : actionText, done : false});
            }


        });

    </script>
</head>
<body ng-controller="ToDoCtrl" >
<div class="page-header">
    <h1>
        {{todo.user}}'s To Do List
        <span class="label label-default" ng-hide="incompleteCount() == 0" ng-class="warningLevel()">
            {{incompleteCount()}}
        </span>
    </h1>
</div>
<div class="panel">
    <div class="input-group">
        <input class="form-control" ng-model="actionText"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
            </span>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Done-check</th>
            <th>Done-boolean</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in todo.items | checkItems : showComplete | orderBy : 'action'">
                <td>{{item.action}}</td>
                <td><input type="checkbox" ng-model="item.done"/> </td>
                <td>{{item.done}}</td>
            </tr>
        </tbody>
    </table>
    <div class="checkbox-inline">
        <label><input type="checkbox" ng-model="showComplete">Show Complete</label> </label>
    </div>


</div>


<div ng-controller="basicsCtrl">
    <div style="padding-left: 1430px; margin-bottom: 5px">
        <button popover-placement="top" popover="On the Top!" class="btn btn-success" ng-click="test();"> 추가 </button>
        <button popover-placement="top" popover="On the Top!" class="btn btn-info" ng-click="test();"> 조회 </button>
        <button popover-placement="top" popover="On the Top!" class="btn btn-info"> 저장 </button>
        <button popover-placement="top" popover="On the Top!" class="btn btn-info"> 삭제 </button>
        <button popover-placement="top" popover="On the Top!" class="btn btn-info"> 엑셀 </button>
    </div>

    <table st-table="rowCollection" class="table table-striped">
        <thead>

        <tr>
            <th>
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Small button <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>fadlkj</li>
                    <li>fadlkj</li>
                    <li>fadlkj</li>

                </ul>
            </th>
            <th colspan="5">
                <input st-search="" class="form-control" placeholder="지원영문명 조회하기" type="text" id="searchText"/>
            </th>
        </tr>
        <tr>
            <th>지원코드</th>
            <th>지원명</th>
            <th>지원영문명</th>
            <th>지원 주소</th>
            <th>우편번호</th>
            <th>상세보기</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection" st-select-row="row" st-select-mode="multiple">
            <td>{{row.JISOCODE}}</td>
            <td>{{row.JISOKNM}}</td>
            <td>{{row.JISOENM}}</td>
            <td>{{row.JISOKADDR}}</td>
            <td>{{row.ZIPCD}}</td>
            <td>
                <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-success">
                    <i class="glyphicon glyphicon-zoom-in">
                    </i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
